.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color:white;
	background-color: rgb(150, 113, 236);
	font-family: cursive;
}

